<div class="top-nav">
    <mat-toolbar class="top-tool-style">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon (click)="toggle()">menu</mat-icon>
        </button>
        <span>Employee Orientation Portal</span>
        <span class="top-nav-spacer"></span>
        <button mat-icon-button class="user-button" aria-label="Example icon-button with share icon">
          <mat-icon class="user-icon">account_circle</mat-icon>
        </button>
      </mat-toolbar>
</div>